<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quotes</title>
</head>
<body>
</div>
	<center>
		{%if page_obj.has_previous %}
			<a href="?page={{page_obj.previous_page_number}}">Previous</a>
		{% endif %}
		<span>
    {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a>{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        </span>
		{%if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}">Next</a>
		{% endif %}
	</center>
	<div class="container">
		{% for obj in page_obj.object_list %}
            <li>"{{obj.message}}" written by <a href="{% url 'reminder:detail_author' pk=obj.author.id %}">{{obj.author.name}}</a></li>
        <p>{{obj.content}}</p>

			<hr/>
		{% endfor %}</div>
</body>
</html>